<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nakwon.mapper.MenuMapper">
	<insert id="insert">
		insert into Menu (Code, CodeName, MenuCode, MenuCodeName, MenuDetailCode, MenuDetailCodeName, MenuContent, MenuImg, MenuPrice, MenuIngredients, MenuAllergy)
		values(#{Code}, #{CodeName}, #{MenuCode}, #{MenuCodeName}, #{MenuDetailCode}, #{MenuDetailCodeName}, #{MenuContent}, #{MenuImg}, #{MenuPrice}, #{MenuIngredients}, #{MenuAllergy})
	</insert>
	
	<select id="read" resultType="MenuVO"> <!-- 메뉴 조회할때 사용 -->
	select * from Menu
	where MenuDetailCode = #{MenuDetailCode}
	</select>
	
	<update id="update"> <!-- 메뉴 수정 -->
 	update Menu set Code =#{Code},  CodeName=#{CodeName},MenuCode=#{MenuCode},MenuCodeName=#{MenuCodeName},
 	MenuDetailCodeName=#{MenuDetailCodeName},MenuContent=#{MenuContent},MenuImg=#{MenuImg},MenuPrice=#{MenuPrice},
 	MenuIngredients=#{MenuIngredients}, MenuAllergy=#{MenuAllergy}
	where MenuDetailCode = #{MenuDetailCode}
 	</update>
 	
	<select id="menuListAll" resultType="com.nakwon.domain.MenuVO">
	<![CDATA[
	select *
	from Menu
	]]>
	</select>
	
	<select id="menuCodeListAll" parameterType="String" resultType="com.nakwon.domain.MenuVO">
	<![CDATA[
	select *
	from Menu
	where Code = #{Code}
	]]>
	</select>
	
	<!-- 만찬 메뉴 정보 뽑기 -->	
	<select id="courseClassification" resultType="MenuVO"> 
	<![CDATA[
	select * from Menu
	where Code="course"
	]]>
	</select>
	
	<!-- 정찬 메뉴 정보 뽑기 -->
	<select id="setClassification" resultType="MenuVO"> 
	select * from Menu
	where Code="set"
	</select>
	
	 <!-- menucode중복제거 -->
	<select id="distinctMenuCode" resultType="MenuVO"> 
	<![CDATA[
	select distinct MenuCode,MenuCodeName
	from Menu
	]]>
	</select>
	
	<!-- 페이징부분 -->
	<select id="listCriteria" resultType="MenuVO">
	<![CDATA[ 
	select * 
	from Menu
	order by CodeName limit #{pageStart}, #{perPageNum} 
	]]>
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
 	select count(MenuCode) 
 	from Menu 
 	]]>
 	</select>
	
</mapper>